<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script>
const NO=/*[[${no}]]*/ 0
</script>
<style type="text/css">
.row {
	width: 900px;
	margin: 0px auto;
}
</style>
</head>
<body>
	<div class="container">
		<div class="row">
			<table class="table">
				<tbody>
					<tr>
						<th width="30%" class="text-center" rowspan="8">
							<img th:src="${vo.poster}" style="width: 270px; height: 270px; object-fit: cover">
						</th>
						<td colspan="2">
							<h3>[[${vo.name}]]&nbsp;
							<span style="color: orange;">[[${vo.score}]]</span>
							</h3>
						</td>
					</tr>
					<tr>
						<th width=15% class="text-center">주소</th>
						<td width="55%">[[${vo.address}]]</td>
					</tr>
					<tr>
						<th width=15% class="text-center">전화</th>
						<td width="55%">[[${vo.phone}]]</td>
					</tr>
					<tr>
						<th width=15% class="text-center">음식종류</th>
						<td width="55%">[[${vo.type}]]</td>
					</tr>
					<tr>
						<th width=15% class="text-center">가격대</th>
						<td width="55%">[[${vo.price}]]</td>
					</tr>
					<tr>
						<th width=15% class="text-center">영업시간</th>
						<td width="55%">[[${vo.time}]]</td>
					</tr>
					<tr>
						<th width=15% class="text-center">주차</th>
						<td width="55%">[[${vo.parking}]]</td>
					</tr>
					<tr>
						<th width=15% class="text-center">테마</th>
						<td width="55%">[[${vo.theme}]]</td>
					</tr>
					<tr>
						<td colspan="3">[[${vo.content}]]</td>
					</tr>
					<tr>
						<td colspan="3" class="text-right">
							<a href="#" class="btn btn-sm btn-warning" sec:authorize="isAuthenticated()">찜하기</a>
							<a href="#" class="btn btn-sm btn-info" sec:authorize="isAuthenticated()">예약하기</a>
							<a href="/" class="btn btn-sm btn-success">목록</a>
						</td>
					</tr>
				</tbody>
			</table>
			<table class="table">
				<tbody>
					<tr>
						<td>
							<!-- 지도 -->
							<div id="map" style="width:100%;height:350px;"></div>
							<script>
								var mapContainer = document.getElementById('map'), // 지도를 표시할 div 
								    mapOption = {
								        center: new kakao.maps.LatLng(33.450701, 126.570667), // 지도의 중심좌표
								        level: 3 // 지도의 확대 레벨
								    };  
								
								// 지도를 생성합니다    
								var map = new kakao.maps.Map(mapContainer, mapOption); 
								
								// 주소-좌표 변환 객체를 생성합니다
								var geocoder = new kakao.maps.services.Geocoder();
								
								// 주소로 좌표를 검색합니다
								geocoder.addressSearch('[[${vo.address}]]', function(result, status) {
								
								    // 정상적으로 검색이 완료됐으면 
								     if (status === kakao.maps.services.Status.OK) {
								
								        var coords = new kakao.maps.LatLng(result[0].y, result[0].x);
								
								        // 결과값으로 받은 위치를 마커로 표시합니다
								        var marker = new kakao.maps.Marker({
								            map: map,
								            position: coords
								        });
								
								        // 인포윈도우로 장소에 대한 설명을 표시합니다
								        var infowindow = new kakao.maps.InfoWindow({
								            content: '<div style="width:150px;text-align:center;padding:6px 0;">[[${vo.name}]]</div>'
								        });
								        infowindow.open(map, marker);
								
								        // 지도의 중심을 결과값으로 받은 위치로 이동시킵니다
								        map.setCenter(coords);
								    } 
								});    
							</script>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="row" style="margin-top: 10px" id="commentId">
			
		</div>
	</div>
</body>
</html>