<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sist.web.mapper.BoardCommentMapper">
	<select id="boardCommentListData" resultType="com.sist.web.vo.BootCommentVO" parameterType="hashmap">
		SELECT no, board_no, id, name, msg, TO_CHAR(regdate,'yyyy-mm-dd hh24:mi:ss') as dbday, 
				group_tab
		FROM bootComment
		WHERE board_no=#{board_no}
		ORDER BY group_id DESC, group_step ASC
		OFFSET #{start} ROWS FETCH NEXT 10 ROWS ONLY
	</select>
	<select id="boardCommentCount" resultType="int" parameterType="int">
		SELECT count(*) FROM bootComment
		WHERE board_no=#{board_no}
	</select>
	<!-- 
			 no NUMBER,
		    board_no NUMBER,
		    id VARCHAR2(20),
		    name VARCHAR2(51) CONSTRAINT bc_name_nn NOT NULL,
		    msg CLOB CONSTRAINT bc_msg_nn NOT NULL,
		    regdate DATE DEFAULT SYSDATE,
		    group_id NUMBER,
		    group_step NUMBER DEFAULT 0,
		    group_tab NUMBER DEFAULT 0,
		    root NUMBER DEFAULT 0,
		    depth NUMBER DEFAULT 0,
		    CONSTRAINT bc_no_pk PRIMARY KEY(no),
		    CONSTRAINT bc_board_no_fk FOREIGN KEY(board_no)
		    REFERENCES bootBoard(no),
		    CONSTRAINT bc_id_fk FOREIGN KEY(id)
		    REFERENCES springmember(userid)
		 -->
	<insert id="boardCommentInsert" parameterType="com.sist.web.vo.BootCommentVO">
		<selectKey keyProperty="no" resultType="int" order="BEFORE">
			SELECT NVL(MAX(no)+1,1) as no
			FROM bootComment
		</selectKey>
		INSERT INTO bootComment(no, board_no, id, name, msg, group_id)
		VALUES(#{no},#{board_no}, #{id}, #{name}, #{msg}, (SELECT NVL(MAX(group_id)+1,1) FROM bootComment))
	</insert>
	<!-- 
		삭제 / 수정 / 대댓글
	 -->
</mapper>